/* Fundo da página */
body {
  background-color: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  animation: fadeInBackground 1s ease-in;
}

/* Container de login moderno */
.auth-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 16px;
  background: #006ea18e;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;
  color: #fff9f9;
  animation: slideIn 0.8s ease-out;
}
.auth-container a {
  color: white;
  text-decoration: underline;
  transition: color 0.3s ease;
}

h2 {
  text-align: center;
}

.auth-container a:hover {
  color: black;
}

/* Animação de entrada */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInBackground {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Grupos de input */
.form-group {
  margin-bottom: 1.5rem;
  animation: fadeIn 0.5s ease-out;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

/* Campos de entrada */
input {
  width: 100%;
  max-width: 400px; 
  padding: 0.85rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  background: #f9f9f9;
  color: #000000;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s ease-in-out;
  animation: fadeIn 0.5s ease-out;
}
input[_ngcontent-ng-c2132376021] {
  width: 85%;
}

input:focus {
  outline: none;
  border-color: #4caf50;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.4);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Botão de login */
button {
  font-family: "Roboto", sans-serif;
  width: 50%;
  max-width: 300px;
  padding: 1rem;
  background: linear-gradient(45deg, #006ea18e, #81c784);
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

button:hover {
  background: linear-gradient(45deg, #81c784, #4caf50);
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

button:active {
  transform: scale(0.98);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Animação fadeIn */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
