<div class="auth-container">
  <h2 class="title">Tela De Acesso</h2>
  <form (ngSubmit)="onSubmit()" class="auth-form">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="email"
        name="email"
        required
        placeholder="Digite seu Email"
        autofocus
      />
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="senha"
        name="password"
        required
        placeholder="Digite sua senha"
      />
    </div>
    <button type="submit">Login</button>
  </form>
  <p class="signup-link">
    Não tem uma conta? <a routerLink="/signup">Cadastre-se</a>
  </p>
</div>
